#link-input
{
    width: 400px;
    background-color: #DD9787;
    padding: 10px;
    text-align:center;
    border: solid 3px #551B14;
    margin : 2px;
}
#grab-btn
{
    border-radius: 5px;
    background-color:#74D3AE;
    border:2px solid #388697;
    height:30px;
    width:80px;
    margin:  1px;
}
#del-btn
{
    border-radius: 5px;
    background-color:#74D3AE;
    border:2px solid #388697;
    height:30px;
    width:80px;
    margin:  1px;
}
#grp-btn
{
    border-radius: 5px;
    background-color:#74D3AE;
    border:2px solid #388697;
    height:30px;
    width:80px;
    margin:  1px;
}
.input-div
{
    display:flex;
    align-items:center;
    justify-content:center;
}
.buttons
{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
#fetch-btn
{
    border-radius: 5px;
    background-color:#74D3AE;
    border:2px solid #388697;
    height:30px;
    width:80px;
    margin: 1px;
    display:flex;
    align-items:center;
    justify-content:center;
}