@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
body
{
    background-color: #2A324B;
}
h1
{
    font-family: 'Grape Nuts', cursive;
    color: #eff8e2;
    text-align: center;
}
.user-preference
{
    color: #FE6D73;
    display: flex;
    justify-content: center;
}
.slidecontainer
{
    text-align: center; 
}
#pass-length
{
    width:auto;
    height: auto;
}